<!-- CC0 -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" content="notranslate">
  <title>${page_title}</title>
  <meta property="og:title" content="${page_title}">
  <meta property="og:site_name" content="${meta_sitename}">
  <meta property="og:image" content="${ogp_image}">
  <meta property="og:description" content="${meta_description}">
  <meta name="description" content="${meta_description}">
  <link rel="stylesheet" href="template-css/common.css">
  <link rel="stylesheet" href="template-css/page.css">
  <script src="template.js" defer></script>
</head>
<body>
<div class="wrapper">
  <header class="header">
    <nav class="header-nav">
      <a href="#">top</a>
    </nav>
  </header>
  <main class="main">
    <section class="section section--first">
      <article class="section__inner section__inner--first">
        <h1>${page_title}</h1>
      </article>
    </section>
    <section class="section section--desc">
      <article class="section__inner section__inner--desc">
        <p>${page_desc}</p>
      </article>
    </section>
  </main>
  <footer class="footer">
  </footer>
</div>
</body>
</html>