<!-- CC0 -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>${page_title}</title>
  <meta property="og:title" content="${page_title}">
  <meta property="og:site_name" content="${meta_sitename}">
  <meta property="og:image" content="${ogp_image}">
  <meta property="og:description" content="${meta_description}">
  <meta name="description" content="${meta_description}">
  <link rel="stylesheet" href="template-css/template.css">
  <script src="template.js" defer></script>
</head>
<body>
<div class="wrapper">
  <header class="header">
  </header>
  <main class="main">
    <section class="section-first">
      <h1>${page_title}</h1>
    </section>
  </main>
  <footer class="footer">
  </footer>
</div>
</body>
</html>